* {
  box-sizing: border-box;
}

body {
  /* display: grid;

grid-template-columns:1fr 1fr 1fr 1fr;
grid-template-rows: 50px 1fr 1fr 1fr;
grid-gap: 5px;
height: 100vh;
margin: 10px;
 ----------------------- */
  /* grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-template-rows: 2fr 2fr 2fr 2fr;
  grid-gap: 20px;
  height: 100vh; */
  font-family: Helvetica;
  color: aliceblue;
  background-color: rgb(1, 1, 7);

}

#container {
  width: 75%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  background-image: url("./images/space-image.jpg");
  color: aliceblue;
  justify-content: center;
}

#header {
  grid-column: span 4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-size: 30px;
}

#my-ship {
  grid-column: span 1;
}

p {
  margin: 0;
  padding: 0;
}

#game-msg-div {
  /* border: thick solid blue; */
  grid-column: span 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px 20px;
  border-radius: 20px;
  border:3px solid blue;
  color: aliceblue;
  background: none; 
}

h5 {
  display: flex;
  align-items: center;
}

.enemyship,
#btn-group,
.yesno {
  visibility: hidden;
}

.div-border-red {
  color: red;
  border: 1px solid white;
}

.div-white {
  color: white;
}

#empty {
  display: flex;
  justify-content: center;
  align-items: center;
  background-blend-mode: color-burn;
}

img {
  max-width: 80px;
  height: auto;
}